{{#holygrail-layout as |g|}}

  {{#g.left}}
    <div style="background-color: lightgreen; padding: 0 10px">
    left side, width determined by content
    </div>
  {{/g.left}}

  {{#g.center}}
    <div style="background-color: lightblue; padding: 0 10px">
      middle, width determined by leftover space
    </div>
  {{/g.center}}

  {{#g.right}}
    <div style="background-color: wheat; padding: 0 10px">
    right side, width determined by content
    </div>
  {{/g.right}}

{{/holygrail-layout}}
